<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline">
      <%= render "devise/shared/links" %>
    </div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :lastname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "lastname" }%>
    <%= f.input :student,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "student" }%>
    <%= f.input :phone,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone" }%>
    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
    <%= f.input :israelid,
                required: true,
                autofocus: true,
                as: :string,
                input_html: { autocomplete: "id" }%>
    <%= f.association :city,
                include_blank: false,
                autofocus: true,
                input_html: { autocomplete: "city" }%>
    <%= f.association :help_option, label: "אופציה עזרה", as: :check_boxes, label_method: :descriptionvol, value_method: :id %>

  <div class="form-actions">
    <div class="healthcheck p-0">
      <h3 class="healthcheck-text">הצטרפות מותנת באישור הצהרת בריאות אנא עיין בהצרה</h3>
      <a href="https://docs.google.com/document/d/1PrIatn7BX4g-bIdg-VWE32uamt7lESICIXgYk7I0lew/edit?usp=sharing" target="_blank">הצהרת בריאות</a>
    </div>
    <%= f.button :submit, "הצטרף", class: "btn btn-flatgreen btn-sm" %>
  </div>
<% end %>
  </div>
</div>
</div>
