<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline">
      <%= render "devise/shared/links" %>
    </div>
<%#= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= simple_form_for(resource, as: resource_name, url: account_create_path) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :lastname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "lastname" }%>
    <%= f.input :gender, as: :select, autofocus: true, collection: [['גבר',true],['אישה',false]], include_blank: false, input_html: { class: 'js-select' } %>
    <%= f.input :birthday,
                required: true,
                label: "שנת יום הולדת",
                autofocus: true,
                input_html: {min: Date.today.year-75, max: Date.today.year-14, autocomplete: "birthday" }%>
    <%= f.input :student,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "student" }%>
    <%= f.input :phone,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone" }%>
    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
    <%= f.input :israelid,
                required: true,
                autofocus: true,
                as: :string,
                input_html: { autocomplete: "id" }%>
    <%= f.association :city,
                include_blank: false,
                autofocus: true,
                input_html: { class: 'js-selectable', autocomplete: "city" }%>
    <%= f.input :langauges, autofoucs: true, require: false, selected: @user.langauges, collection: ["אנגלית","רוסית","גרמנית","פורטוגזית"], input_html: {multiple: true, class: 'js-selectable-w80'} %>
    <%= f.association :help_options, label: "אופציה עזרה", as: :check_boxes, label_method: :descriptionvol, value_method: :id %>

    <div class="form-group healthcheck p-0">
      <h3 class="healthcheck-text">הצטרפות מותנת באישור הצהרת בריאות אנא עיין בהצרה</h3>
      <a href="https://docs.google.com/document/d/1PrIatn7BX4g-bIdg-VWE32uamt7lESICIXgYk7I0lew/edit?usp=sharing" target="_blank">הצהרת בריאות</a>
<!--     <div class="dflex align-items-center mt-3"> -->
      <%= f.input :healthcheck, label: "מאשר הצהרת בריאות", autofocus: true, required: true, wrapper_html: { class: 'fixer' } %>
      <%= f.input :getupdates, label: "מאשר דיוור", autofocus: true, required: true, wrapper_html: { class: 'fixer' } %>
    <!-- </div> -->
    </div>
    <%= f.button :submit, "הצטרף", class: "btn btn-flatgreen btn-sm" %>
<% end %>
  </div>
</div>
</div>
