<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline p-4">
      <% if controller.action_name == "create" || controller.action_name == "new"  %>
        <h2 class="headline"><%= "#{I18n.t "create_call"}" %></h2>
        <% elsif controller.action_name == "edit" %>
        <h2 class="headline"><%= "#{I18n.t "update_call"}"%></h2>
        <% end %>
</div>
  <% action_name == "new" || action_name == "create" ? @path = newcall_path : @path = call_path %>
  <%= simple_form_for @call, url: @path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :lastname %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.association :city, include_blank: false, :input_html => { :class => 'js-selectable' } %>
    <%= f.association :user, label_method: :fullname, :input_html => { :class => 'js-selectable' } if params["action"] == "edit" %>
    <%= f.input :done, as: :select, collection: [["פתוח",false],["סגור",true]], include_blank: false, :input_html => { :class => 'js-select' } if params["action"] == "edit" %>
    <%= f.input :email, error: true %>
    <%= f.input :description, label: "#{I18n.t "activerecord.attributes.call.descriptionlabel"}" %>
    <%= f.input :availability, label: "#{I18n.t "activerecord.attributes.call.availabilitylabel"}", as: :check_boxes, include_hidden: false, collection: Call.availabilitylist, include_blank: false%>
    <%= f.association :help_options, as: :check_boxes, include_hidden: false, collection: HelpOption.all.collect {|i| [i.descriptioncall,i.id] if !i.descriptioncall.empty?}.compact %>
    <% if params["action"] == "edit" %>
      <div class="healthcheck padding-left pd-right-unset">
        <h3 class="healthcheck-text"><%= t 'healthcheck-text'%></h3>
        <a href="https://docs.google.com/document/d/1PrIatn7BX4g-bIdg-VWE32uamt7lESICIXgYk7I0lew/edit?usp=sharing" target="_blank"><%= t "activerecord.attributes.call.healthcheck" %></a>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
      <%= f.button :submit, "#{I18n.t "accept"}", class: "btn btn-sm btn-flatgreen" %>
      <%= link_to "#{I18n.t "return_btn"}", calls_path, class: "btn btn-sm btn-flatgreen" %>
  </div>
<% end %>
  </div>
</div>
