
<%= simple_form_for(@call) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "שם פרטי" %>
    <%= f.input :lastname, label: "שם משפחה" %>
    <%= f.input :phone, label: "טלפון" %>
    <%= f.input :address, label: "כתובת מלאה" %>
    <%= f.association :city, label: "ישוב" %>
    <%= f.input :email, label: "איימל" %>
    <%= f.input :description, label: "תיאור" %>
    <%= f.input :healthcheck, label: "בדיקת בריאות" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "אישור", class: "btn btn-primary" %>
  </div>
<% end %>
