<div class="homecon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="index-page">
    <h2 class="headline-text"><%= t :call_panel_btn%></h2>
    <%= simple_form_for @call, url: calls_path, method: "GET", html: { class: 'form-inline', multipart: true } do |f| %>
      <%= f.association :city, :include_blank => "#{I18n.t "show_all"}", input_html: { class: 'js-selectable' } %>
      <%= f.simple_fields_for :region, @region do |t| %>
        <%= t.input :name, selected: @region.id, :collection => Region.all, :include_blank => "#{I18n.t "show_all"}", input_html:{ class: 'js-selectable' } %>
        <%= f.input :user, label: "#{I18n.t "status_work_label"}", as: :select, selected: @user_show , collection: [["#{I18n.t "false"}",false],["#{I18n.t "true"}",true]], :include_blank => "#{I18n.t "show_all"}" , input_html: { class: 'js-select' } %>
        <%= f.input :done, as: :select, selected: @call_done , collection: [["#{I18n.t "status_open"}",false],["#{I18n.t "status_close"}",true]], :include_blank => "#{I18n.t "show_all"}" , input_html: { class: 'js-select' } %>
        <%= f.submit "#{I18n.t "search"}", class: "btn btn-main btn-sm" %>
      <% end %>
    <% end%>
    <table class="table table-responsive-xl">
      <thead>
        <tr>
          <th scope="col"><%= t 'activerecord.attributes.call.name' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.lastname' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.done' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.address' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.city' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.email' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.description' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.healthcheck' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.user' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.availability' %></th>
          <th scope="col"><%= t 'activerecord.attributes.call.done' %></th>
          <th colspan="3"><%= t :action%></th>
        </tr>
      </thead>

      <tbody>
        <% @calls.each do |call| %>
          <tr>
            <td><%= call.name %></td>
            <td><%= call.lastname %></td>
            <td><%= call.phone %></td>
            <td><%= call.address %></td>
            <td><%= call.city.name unless call.city.nil? %></td>
            <td><%= call.email %></td>
            <td><%= call.description[0..60] %></td>
            <td><%= call.healthcheck ? "#{I18n.t "accepted"}" : "#{I18n.t "not_accepted"}" %></td>
            <td><%= call.user.nil? ? "#{I18n.t "not_taken"}" : call.user.name %></td>
            <td><%= call.availability.join(' ') unless call.availability.nil? %></td>
            <td><%= call.done ? "#{I18n.t "status_close"}" : "#{I18n.t "status_open"}" %></td>
            <td><%= link_to "#{I18n.t "show"}", call %></td>
            <td><%= link_to "#{I18n.t "update"}", edit_call_path(call) %></td>
            <td><%= link_to "#{I18n.t "delete"}", call, method: :delete, data: { confirm: 'האם אתה בטוח?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-center flex-wrap">
      <%= link_to "#{I18n.t "adminpanel_btn"}", adminpanel_path, class: "btn btn-sm btn-main" %>
      <button class="btn btn-sm btn-main" id="exportexl"><%= t :export %></button>
    </div>
  </div>
</div>
