<h2 class="headline">לוח קריאות</h1>
  <%= simple_form_for Call.new, url: calls_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.association :city %>
  <%#= f.input :taken, label: "בטיפול" , as: :boolean, input_html: {checked: false} %>
  <%= f.submit "Search", class: "btn btn-sm btn-flat" %>
  <% end%>
<table class="table table-responsive-xl">
  <thead>
    <tr>
      <th scope="col">שם</th>
      <th scope="col">שם משפחה</th>
      <th scope="col">טלפון</th>
      <th scope="col">כתובת</th>
      <th scope="col">עיר</th>
      <th scope="col">איימל</th>
      <th scope="col">תיאור</th>
      <th scope="col">הצהרת בריאות</th>
      <th scope="col">מתנדב</th>
      <th colspan="3">פעולות</th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.name %></td>
        <td><%= call.lastname %></td>
        <td><%= call.phone %></td>
        <td><%= call.address %></td>
        <td><%= call.city.name %></td>
        <td><%= call.email %></td>
        <td><%= call.description[0..60] %></td>
        <td><%= call.healthcheck ? "אושר" : "מחכה לאישור" %></td>
        <td><%= call.user.nil? ? "לא נלקח" : call.user.name %></td>
        <td><%= link_to 'צפייה', call %></td>
        <td><%= link_to 'עריכה', edit_call_path(call) %></td>
        <td><%= link_to 'מחיקה', call, method: :delete, data: { confirm: 'האם אתה בטוח?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button class="btn btn-sm btn-flat" id="exportexl">EXPORT</button>
