<p id="notice"><%= notice %></p>

<h1>לוח קריאות</h1>

<table>
  <thead>
    <tr>
      <th>שם</th>
      <th>שם משפחה</th>
      <th>טלפון</th>
      <th>כתובת</th>
      <th>עיר</th>
      <th>איימל</th>
      <th>תיאור</th>
      <th>הצהרת בריאות</th>
      <th>מתנדב</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.name %></td>
        <td><%= call.lastname %></td>
        <td><%= call.phone %></td>
        <td><%= call.address %></td>
        <td><%= call.city.name %></td>
        <td><%= call.email %></td>
        <td><%= call.description %></td>
        <td><%= call.healthcheck %></td>
        <td><%= call.user.nil? ? "לא נלקח" : call.user.name %></td>
        <td><%= link_to 'צפייה', call %></td>
        <td><%= link_to 'עריכה', edit_call_path(call) %></td>
        <td><%= link_to 'מחיקה', call, method: :delete, data: { confirm: 'האם אתה בטוח?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'פתיחת קריאה', new_call_path %>
