<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline p-4">
      <h2 class="headline">
        <strong>מספר קריאה:</strong>
        <%= @call.id %>
      </h2>
    </div>
<div class="callshow">
<% if @call.user == current_user || current_user.issuper? %>
  <p>
    <strong>שם:</strong>
    <%= @call.name %>
  </p>

  <p>
    <strong>שם משפחה:</strong>
    <%= @call.lastname %>
  </p>

  <p>
    <strong>טלפון:</strong>
    <%= @call.phone %>
  </p>

  <p>
    <strong>כתובת:</strong>
    <%= @call.address %>
  </p>

  <p>
    <strong>ישוב:</strong>
    <%= @call.city.name %>
  </p>

  <p>
    <strong>איימל:</strong>
    <%= @call.email %>
  </p>

  <p>
    <strong>תיאור:</strong>
    <%= @call.description %>
  </p>

  <p>
    <strong>בדיקת בריאות:</strong>
    <%= @call.healthcheck ? "כן" : "לא" %>
  </p>
<% else %>
  <p>
    <strong>שם:</strong>
    <%= @call.name %>
  </p>
  <p>
    <strong>ישוב:</strong>
    <%= @call.city.name %>
  </p>
  <p>
    <strong>תיאור:</strong>
    <%= @call.description %>
  </p>
<% end %>

  <p>
    <% if !@call.user.nil? && current_user.issuper? %>
    <strong>שם מתנדב:</strong>
    <%= @call.user.name%>
    <% else %>
    <strong>שם מתנדב:</strong>
    <strong>כרגע לא נמצא מתנדב</strong>
    <% end %>
  </p>
    <p>
    <strong>תאריך פתיחה:</strong>
    <%= @call.created_at.strftime('%F') %>
  </p>

    <% if @taken %>
      <%= link_to 'ביטול קריאה', takecall_path(id: @call.id, take: "true"), class: "btn btn-sm btn-flatgreen" %>
    <% elsif !@taken%>
    <div class="healthcheck">
        <h3 class="healthcheck-text">לקיחת קריאה מותנת באישור הצהרת בריאות אנא עיין בהצרה לפני אישור</h3>
        <a href="https://docs.google.com/document/d/1PrIatn7BX4g-bIdg-VWE32uamt7lESICIXgYk7I0lew/edit?usp=sharing" target="_blank">הצהרת בריאות</a>
    </div>
  <div class="action">
        <%= link_to 'לקיחת קריאה', takecall_path(id: @call.id, take: "false"), class: "btn btn-sm btn-flatgreen" %>
    <% end %>
    <% if !current_user.nil? && current_user.issuper? %>
    <%= link_to 'ערוך', edit_call_path(@call), class: "btn btn-sm btn-flatgreen" %>
    <%= link_to 'חזרה', calls_path, class: "btn btn-sm btn-flatgreen" %>
    <% end %>
  </div>
</div>
</div>
</div>
