<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline p-4">
      <h2 class="headline">
        <strong>מספר משתמש:</strong>
        <%= @user.id %>
      </h2>
    </div>
      <div class="form-inputs">
      <div class="form-group mt-2">
        <label>איימל:</label>
        <input type="text" disabled="true" value="<%= @user.email %>">
      </div>
      <div class="form-group mt-2">
        <label>שם משפחה:</label>
        <input type="text" disabled="true" value="<%= @user.lastname %>">
      </div>
      <div class="form-group mt-2">
        <label>שם פרטי:</label>
        <input type="text" disabled="true" value="<%= @user.name %>">
      </div>
      <div class="form-group mt-2">
        <label>מגדר:</label>
        <input type="text" disabled="true" value="<%= @user.gender? %>">
      </div>
      <div class="form-group mt-2">
        <label>טלפון:</label>
        <input type="text" disabled="true" value="<%= @user.phone %>">
      </div>
      <div class="form-group mt-2">
        <label>כתובת:</label>
        <input type="text" disabled="true" value="<%= @user.address %>">
      </div>
      <div class="form-group mt-2">
        <label>סטודנט:</label>
        <input type="text" disabled="true" value="<%= @user.student ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label>עיר:</label>
        <input type="text" disabled="true" value="<%= @user.city.name unless @user.city.nil? %>">
      </div>
      <div class="form-group mt-2">
        <label>רמת ניהול:</label>
        <input type="text" disabled="true" value="<%= @user.admin_to_s %>">
      </div>
      <div class="form-group mt-2">
        <label>תעודת זהות:</label>
        <input type="text" disabled="true" value="<%= @user.israelid %>">
      </div>
      <div class="form-group mt-2">
        <label>אישור בריאות:</label>
        <input type="text" disabled="true" value="<%= @user.healthcheck ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.workfield" %>:</label>
        <input type="text" disabled="true" value="<%= @user.workfield.nil? || @user.workfield.empty? ? "לא הוזן" : @user.workfield %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.specality" %>:</label>
        <input type="text" disabled="true" value="<%= @user.specality.nil? || @user.specality.empty? ? "לא הוזן" : @user.specality %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.langauges" %>:</label>
        <input type="text" disabled="true" value="<%= @user.langauges.nil? || @user.langauges.empty? ? "לא הוזן" : @user.lang_s %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.availability" %>:</label>
        <input type="text" disabled="true" value="<%= @user.availability.nil? || @user.availability.empty? ? "לא הוזן" : @user.aval_s %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.pastvolunteervolume" %>:</label>
        <input type="text" disabled="true" value="<%= @user.pastvolunteervolume.nil? || @user.pastvolunteervolume.empty? ? "לא הוזן" : @user.pastvolunteervolume %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.pastvolunteer" %>:</label>
        <input type="text" disabled="true" value="<%= @user.pastvolunteer.nil? || @user.pastvolunteer.empty? ? "לא הוזן" : @user.pastvolunteer %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.keepvolunteer" %>:</label>
        <input type="text" disabled="true" value="<%= @user.keepvolunteer.nil? ? "לא הוזן" : @user.keepvolunteer ? "ממשיך" : "מפסיק" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.keepvolunteer" %>:</label>
        <input type="text" disabled="true" value="<%= @user.keepvolunteer.nil? ? "לא הוזן" : @user.keepvolunteer ? "ממשיך" : "מפסיק" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.volunteerusefull" %>:</label>
        <input type="text" disabled="true" value="<%= @user.volunteerusefull.nil? ? "לא הוזן" : @user.volunteerusefull ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.helpcalls" %>:</label>
        <input type="text" disabled="true" value="<%= @user.helpcalls.nil? ? "לא הוזן" : @user.helpcalls ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.solidaritycampus" %>:</label>
        <input type="text" disabled="true" value="<%= @user.solidaritycampus.nil? ? "לא הוזן" : @user.solidaritycampus ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.campus" %>:</label>
        <input type="text" disabled="true" value="<%= @user.campus.nil? || @user.campus.empty? ? "לא הוזן" : @user.campus %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.campusactivity" %>:</label>
        <input type="text" disabled="true" value="<%= @user.campusactivity.nil? || @user.campusactivity.empty? ? "לא הוזן" : @user.campusactivity %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.intrestedinsolidarity" %>:</label>
        <input type="text" disabled="true" value="<%= @user.intrestedinsolidarity.nil? ? "לא הוזן" : @user.intrestedinsolidarity ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.localwhatsapp" %>:</label>
        <input type="text" disabled="true" value="<%= @user.localwhatsapp.nil? ? "לא הוזן" : @user.localwhatsapp ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.helpoperations" %>:</label>
        <input type="text" disabled="true" value="<%= @user.helpoperations.nil? ? "לא הוזן" : @user.helpoperations ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.student" %>:</label>
        <input type="text" disabled="true" value="<%= @user.student.nil? ? "לא הוזן" : @user.student ? "כן" : "לא" %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.joinlocal" %>:</label>
        <input type="text" disabled="true" value="<%= @user.joinlocal.nil? ? "לא הוזן" : @user.joinlocal ? "כן" : "לא" %>">
      </div>
      <div class="form-group check_boxes">
        <legend class="col-form-label pt-0"><%= I18n.t "activerecord.attributes.user.help_options" %></legend>
        <% @user.help_options.each do |opt| %>
        <div class="form-check">
          <input type="checkbox" disabled class="form-check-input check_boxes optional" checked="true">
          <label class="form-check-label collection_check_boxes"><%=opt.descriptionvol %></label>
        </div>
        <% end %>
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.lastcontact" %>:</label>
        <input type="text" disabled="true" value="<%= @user.lastcontact.nil? || @user.lastcontact.empty? ? "לא הוזן" : @user.lastcontact %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.contactname" %>:</label>
        <input type="text" disabled="true" value="<%= @user.contactname.nil? || @user.contactname.empty? ? "לא הוזן" : @user.contactname %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.user.othermentions" %>:</label>
        <input type="text" disabled="true" value="<%= @user.othermentions.nil? || @user.othermentions.empty? ? "לא הוזן" : @user.othermentions %>">
      </div>
      <div class="action">
        <%= link_to 'עריכה', edit_user_path(@user), class: "btn btn-sm btn-flatgreen" %>
        <%= link_to 'חזרה', users_path, class: "btn btn-sm btn-flatgreen" %>
      </div>
    </div>
  </div>
</div>
