<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline">
      <h2 class="headtext-center"><%= t :forgot_password_short %></h2>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "#{I18n.t "forgot_password_btn"}", class: "btn btn-sm btn-flatgreen" %>
        <%= link_to "#{I18n.t "return_btn"}", new_user_session_path, class: "btn btn-sm btn-flatgreen" %>
      </div>
    <% end %>
  </div>
</div>

