<div class="homecon">
  <%= link_to image_tag("logo.png"), root_path%>
  <% if current_user.isadmin? %>
    <%= link_to "#{I18n.t "call_panel_btn"}", calls_path, class: "btn btn-main" %>
    <%= link_to "#{I18n.t "region_panel_btn"}", regions_path, class: "btn btn-main" %>
    <%= link_to "#{I18n.t "city_panel_btn"}", cities_path, class: "btn btn-main" %>
    <%= link_to "#{I18n.t "helpoptions_panel_btn"}", help_options_path, class: "btn btn-main" %>
    <%= link_to "#{I18n.t "volunteer_panel_btn"}", users_path, class: "btn btn-main" %>
  <% elsif current_user.iscaller? %>
    <%= link_to "#{I18n.t "call_panel_btn"}", calls_path, class: "btn btn-main" %>
    <%= link_to "#{I18n.t "volunteer_panel_btn"}", users_path, class: "btn btn-main" %>
  <% end %>
</div>
