<div class="homecon">
  <%= link_to image_tag("logo.png"), root_path%>
  <%= link_to 'לצפייה בקריאות', calls_path, class: "btn btn-main" %>
  <%= link_to 'מסך איזורים', regions_path, class: "btn btn-main" %>
  <%= link_to 'מסך ערים', cities_path, class: "btn btn-main" %>
  <%= link_to 'מסך אופציות עזרה', help_options_path, class: "btn btn-main" %>
  <%= link_to 'מסך ניהול משתמשים', users_path, class: "btn btn-main" %>
</div>
