<%#= image_tag image_url('vol.png') %>
<div id="background">
<div id="Layer0"><%= image_tag image_url("Layer0.png") %></div>
<div id="layer_2"><%= image_tag image_url("layer_2.png") %></div>
<div id="LoremIpsum"><%= image_tag image_url("LoremIpsum.png") %></div>
<div id="layer_4"><%= image_tag image_url("layer_4.png") %></div>
<div id="help"><%= image_tag image_url("help.png") %></div>
<div id="IMG20200327WA0038"><%= image_tag image_url("IMG20200327WA0038.png") %></div>
<div id="layer_7"><%= image_tag image_url("layer_7.png") %></div>
<div id="Layer1"><%= image_tag image_url("Layer1.png") %></div>
<div id="layer_9"><%= image_tag image_url("layer_9.png") %></div>
<div id="layer_10"><%= image_tag image_url("layer_10.png") %></div>
<div id="layer_11"><%= image_tag image_url("layer_11.png") %></div>
<div id="layer_12"><%= image_tag image_url("layer_12.png") %></div>
<div id="Layer2"><%= image_tag image_url("Layer2.png") %></div>
<div id="Rectangle2"><%= image_tag image_url("Rectangle2.png") %></div>
<div id="layer_314668690">
  שם: <%= current_user.name unless current_user.nil?%><br>
  תז: <%= current_user.israelid unless current_user.nil?%><br>
  מספר מתנדב: <%= current_user.id unless current_user.nil?%>
</div>
</div>
