<div class="homecon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="index-page">
    <h2 class="headline-text"><%= t :city_panel_btn%></h2>
    <%= simple_form_for @city, url: cities_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, as: :select, selected: @cities_name, collection: City.all, label_method: :name, :include_blank => "#{I18n.t "show_all"}" , input_html: { class: 'js-selectable-w80', multiple: true } %>
      <%= f.input :region, as: :select, selected: @regions_id, collection: Region.all, label_method: :name, :include_blank => "#{I18n.t "show_all"}" , input_html: { class: 'js-selectable-w80', multiple: true } %>
    <%= f.submit "#{I18n.t "search"}", class: "btn btn-main btn-sm" %>
    <% end%>
      <table class="table table-responsive-xl">
        <thead>
          <tr>
            <th scope="col"><%= t 'activerecord.attributes.city.name' %></th>
            <th scope="col"><%= t 'activerecord.attributes.city.region' %></th>
            <th colspan="3"><%= t :action %></th>
          </tr>
        </thead>

        <tbody>
          <% @cities.each do |city| %>
            <tr>
              <td><%= city.name %></td>
              <td><%= city.region.name unless city.region.nil?%></td>
              <td><%= link_to "#{I18n.t "show"}", city %></td>
              <td><%= link_to "#{I18n.t "update"}", edit_city_path(city) %></td>
              <td><%= link_to "#{I18n.t "delete"}", city, method: :delete, data: { confirm: "#{I18n.t :confirm}" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <div class="d-flex justify-content-center flex-wrap"">
        <%= link_to "#{I18n.t "create_city_btn"}", new_city_path,class: "btn btn-sm btn-main" %>
        <%= link_to "#{I18n.t "adminpanel_btn"}", adminpanel_path, class: "btn btn-sm btn-main" %>
        <button class="btn btn-sm btn-main" id="exportexl"><%= t :export%></button>
    </div>
  </div>
</div>
