<h1>כל הישובים הקיימות במערכת</h1>

<table class="table table-responsive-xl">
  <thead>
    <tr>
      <th scope="1">שם</th>
      <th colspan="3">פעולות</th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= link_to 'צפייה', city %></td>
        <td><%= link_to 'עריכה', edit_city_path(city) %></td>
        <td><%= link_to 'מחיקה', city, method: :delete, data: { confirm: 'אתה בטוח?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'יצירת יישוב', new_city_path,class: "btn btn-sm btn-flatgreen" %>
