<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline p-4">
      <h2 class="headline">
        <strong>מספר עיר:</strong>
        <%= @city.id %>
      </h2>
    </div>
    <div class="form-inputs">
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.city.name" %>:</label>
        <input type="text" disabled="true" value="<%= @city.name.nil? || @city.name.empty? ? "לא הוזן" : @city.name %>">
      </div>
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.city.region" %>:</label>
        <input type="text" disabled="true" value="<%= @city.region.nil? ? "לא הוזן" : @city.region.name %>">
      </div>
    </div>
      <div class="action">
        <%= link_to 'עריכה', edit_city_path(@city), class: "btn btn-sm btn-flatgreen" %>
        <%= link_to 'לכל הישובים', cities_path, class: "btn btn-sm btn-flatgreen" %>
      </div>
    </div>
  </div>
</div>
