<div class="homecon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="index-page">
    <h2 class="headline-text">רשימת איזורים</h2>

    <table class="table table-responsive-xl">
      <thead>
        <tr>
          <th scope="">שם</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @regions.each do |region| %>
          <tr>
            <td><%= region.name %></td>
            <td><%= link_to "#{I18n.t "show"}", region %></td>
            <td><%= link_to "#{I18n.t "update"}", edit_region_path(region) %></td>
            <td><%= link_to "#{I18n.t "delete"}", region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-center flex-wrap"">
        <%= link_to "#{I18n.t "create_region"}", new_region_path,class: "btn btn-sm btn-main" %>
        <%= link_to "#{I18n.t "adminpanel_btn"}", adminpanel_path, class: "btn btn-sm btn-main" %>
        <button class="btn btn-sm btn-main" id="exportexl"><%= t :export%></button>
    </div>
  </div>
</div>
