<h1>רשימת איזורים</h1>

<table class="table table-responsive-xl">
  <thead>
    <tr>
      <th scope="1">שם</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= link_to 'צפייה', region %></td>
        <td><%= link_to 'עריכה', edit_region_path(region) %></td>
        <td><%= link_to 'מחיקה', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button class="btn btn-sm btn-flat" id="exportexl">EXPORT</button>
<%= link_to 'יצירת איזור', new_region_path, class: "btn btn-sm btn-flat" %>
