<div class="sessioncon">
  <%= link_to image_tag("logo.png"), root_path%>
  <div class="sessionform">
    <div class="sessionheadline p-4">
      <h2 class="headline">
        <strong>מספר איזור:</strong>
        <%= @region.id %>
      </h2>
    </div>
    <div class="form-inputs">
      <div class="form-group mt-2">
        <label><%= I18n.t "activerecord.attributes.region.name" %>:</label>
        <input type="text" disabled="true" value="<%= @region.name.nil? || @region.name.empty? ? "לא הוזן" : @region.name %>">
      </div>
    </div>
      <div class="action">
        <%= link_to 'עריכה', edit_region_path(@region),class: "btn btn-sm btn-flatgreen" %>
        <%= link_to 'חזרה', regions_path,class: "btn btn-sm btn-flatgreen" %>
      </div>
    </div>
  </div>
</div>
