<!DOCTYPE html>
<html>
  <head>
    <title>CRMFixer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
    <%= render 'shared/flashes' %>
    <%= yield %>
      </div>
      <% if action_name == "index"%>
        <div class="scrolldown">
          <button class="btn btn-sm btn-main" id="scrolldown">גלול למטה</button>
        </div>
      <% end %>
    <%= render 'shared/footer' %>
    </div>
  </body>
</html>
