<!DOCTYPE html>
<html>
  <head>
    <title>CRMFixer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <% if I18n.locale == :he %>
    <body class="hebrew">
  <% else %>
    <body class="english">
  <% end %>
    <div id="page-container">
      <div id="content-wrap">
    <%= render 'shared/flashes' %>
    <%= yield %>
      </div>
      <div class="scrolldown">
      <% if action_name == "index"%>
        <button class="btn btn-md btn-main kill-hover hide" id="scrolldown">גלול למטה</button>
      <% end %>
      <% if I18n.locale == :he %>
       <%= link_to 'English', url_for( :locale => 'en' ),class: "btn btn-md btn-main kill-hover hide" %>
      <% else %>
       <%= link_to 'עברית', url_for( :locale => 'he' ),class: "btn btn-md btn-main kill-hover hide" %>
      <% end %>
      <button class="btn btn-md btn-main kill-hover ft-big" id="X">+</button>
      </div>
    <%= render 'shared/footer' %>
    </div>
  </body>
</html>
